@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi+Ink&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Reem Kufi Ink", Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}
.searchbarContainer{
    width: 100vw;
    height: 25vh;
    background-color: rgb(100, 247, 247);
    display: grid;
    place-content: center;
}
.searchbarContainer h1{
    color: white;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin: 0px 0px 20px 0px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.527);
}
.searchbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: paleturquoise;
    margin: 10px 0;
    padding: 0px 10px 0px 10px;
    border-radius: 40px;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 10px 4px 0px inset;
}
#searchInput{
    width: 100%;
    border: none;
    outline: none;
    height: 100%;
    padding: 0px 0px;
    background: transparent;
    font-size: 16px;
}
.searchbar button{
    background: transparent;
    border: none;
    outline: none;
    height: 50px;
    width: 50px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 40px;
    
}
.searchbar img {
    width: 25px;
    cursor: pointer;
}

.img-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.imgcard{
    /* width: 300px;
    height: 300px;
    background-color: pink; */
    margin-bottom: 60px;
    width: 30%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    background-color: white;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 10px;
}
.imgcard img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity .2s ease-in-out;
}
.imgcard:hover img{
    opacity: 0.9;
}
.imgcard a{
    font-size: 15px;
    text-decoration: none;
    color: #333;
    display: block;
    padding: 10px;
    text-transform: capitalize;
}

#showMore{
    background-color: paleturquoise;
    font-size: 18px;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    display: block;
    margin: 30px auto;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 10px 4px 0px inset;
    display: none;
}
#showMoore:hover{
    background-color: rgb(148, 241, 241);
}

@media screen and (max-width: 780px) {
    .imgcard{
        width: 45%;
    }
}

@media screen and (max-width: 480px) {
    .imgcard{
        width: 100%;
    }
}